@media (max-width: 1200px) {
    .testimonials__heading {
        font-size: 170px;
    }
}

@media (max-width: 1100px) {
    .team__gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonials__heading {
        font-size: 150px;
    }
}

@media (max-width: 1090px) {
    .news__board {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .board__block:nth-child(3) {
        grid-column-start: span 2;
        height: max-content;
    }

}

@media (max-width: 1000px) {
    .gallery__images {
        grid-template-columns: repeat(3, 1fr)
    }

    .gallery__big {
        grid-column: span 2;
        grid-row: span 1;
    }

    .gallery__images img:last-child {
        grid-column: span 2;
        grid-row: span 1;
    }
}

@media (max-width: 980px) {
    .creativity__circle {
        width: 150px;
        height: 60px;
    }
}

@media (max-width: 975px) {
    .anow__info-mail {
        padding-top: 10px;
    }
}

@media (max-width: 960px) {
    .creativity__blocks {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    .creativity__block:nth-child(3) {
        grid-column-start: span 2;
    }
}

@media (max-width: 900px) {
    .description_wrapper {
        flex-wrap: wrap;
        gap: 35px;
    }

    .description__content>*:not(:last-child) {
        padding-bottom: 40px;
    }

    .testimonials__heading {
        font-size: 130px;
    }
}

@media (max-width: 800px) {
    .gallery__images {
        grid-template-columns: repeat(2, 1fr)
    }

    .gallery__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__text {
        font-size: 120px;
    }

    .testimonials__heading {
        font-size: 100px;
    }
}

@media (max-width: 780px) {
    .footer__anow-wrapper {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around;
    }

    .anow__info-mail {
        padding-top: 0;
    }
}

@media (max-width: 740px) {
    .about__content {
        flex-wrap: wrap;
        gap: 50px;
    }

    .team__gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback__content {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .testimonials__heading {
        font-size: 80px;
    }

    .board__block-link {
        margin-top: 10px;
    }
}

@media (max-width: 635px) {
    .anow__info-mail {
        padding-top: 5px;
    }
}

@media (max-width: 580px) {
    .main__content-title {
        font-size: 50px;
    }

    .news__board {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .board__block:nth-child(3) {
        grid-column-start: span 1;
    }

    .board__block-link {
        margin-top: 20px;
    }

    .board__block-desc {
        font-size: 20px;
    }
}

@media (max-width: 516px) {
    .works__button {
        flex: 1 1 auto;
    }

    .testimonials__heading {
        font-size: 73px;
    }
}

@media (max-width: 500px) {
    .header__logo {
        padding-right: 60px
    }

    .header__menu {
        display: none;
    }

    .burger__wrapper-menu {
        display: block;
    }

    .creativity__blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .creativity__block:nth-child(3) {
        grid-column-start: auto;
    }

    .gallery__images {
        grid-template-columns: repeat(1, 1fr)
    }

    .gallery__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .gallery__images img:last-child {
        grid-column: span 1;
        grid-row: span 1;
    }

    .creativity__circle {
        width: 134px;
        height: 46px;
    }

    .testimonials__heading {
        font-size: 70px;
    }

    .board__block-desc {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .footer__anow-wrapper {
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .about__heading {
        font-size: 90px;
    }

    .gallery__text {
        font-size: 50px;
    }

    .testimonials__heading {
        font-size: 55px;
    }
}

@media (max-width: 390px) {
    .main__content-title {
        font-size: 30px;
        line-height: 35px;
    }

    .testimonials__heading {
        font-size: 50px;
    }

    .form__inputs {
        flex-wrap: wrap;
        row-gap: 30px;
    }
}

@media (max-width: 358px) {
    .main__content-button {
        flex: 1 1 auto;
    }

    .about__heading {
        font-size: 75px;
    }

    .main__about {
        padding: 20px 0 30px;
    }

    .testimonials__heading {
        font-size: 35px;
    }

    .anow__info-tel {
        font-size: 14px;
    }
}