* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px 15px;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  padding-right: 210px;
}

.menu__lists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
}

.menu__list {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
}

.menu__list:hover {
  color: #FD8558;
}

.main__block-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -2;
}

.main__content {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
}

.main__content-title {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  color: #FFFFFF;
}

.main__content-buttons {
  display: flex;
  gap: 15px;
}

.main__content-button {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  padding: 14px 39px;
  background: inherit;
  border: 2px solid #FD8558;
  color: #FFFFFF;
}

.main__content-button:hover {
  background: #FD8558;
}

.main__content>*:not(:last-child) {
  padding-bottom: 41px;
}

#burger__menu-toggle {
  opacity: 0;
}

.burger__wrapper-menu {
  display: none;
}

.burger__menu-btn {
  display: flex;
  position: absolute;
  top: 27px;
  right: 19px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.burger__menu-btn>span,
.burger__menu-btn>span::before,
.burger__menu-btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  height: 2px;
  background-color: #666;
}

#burger__menu-toggle:checked~.burger__menu-btn>span {
  transform: rotate(45deg);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#burger__menu-toggle:checked~.burger__menu-btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

.burger__menu-btn>span::before {
  content: "";
  top: -8px;
}

.burger__menu {
  display: none;
}

.burger__menu-btn>span::after {
  content: "";
  top: 8px;
}

#burger__menu-toggle:checked~.burger__menu {
  display: block;
}

.burger__menu {
  position: absolute;
  background: #b65f8c;
  top: 0;
  left: 0px;
  max-height: 300px;
  width: 100%;
}

.burger__list {
  cursor: pointer;
}

.burger__lists {
  padding: 10px;
}

.burger__list:not(:last-child) {
  padding-bottom: 15px;
}

.burger__list:hover {
  color: #FD8558;
}

.main__about {
  padding: 50px 0 60px;
}

.about__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 145px;
  color: #F7F7F7;
}

.about__content {
  display: flex;
  gap: 105px;
  margin-top: 20px;
}

.content__right-text {
  font-weight: 400;
  font-size: 14px;
  color: #FD8558;
}

.content__right-subtext {
  font-weight: 400;
  font-size: 40px;
  color: #333333;
}

.about__content-right,
.about__content-left {
  width: 100%;
}

.about__content-right>*:not(:last-child) {
  padding-bottom: 20px;
}

.about__content-left>*:not(:last-child) {
  padding-bottom: 10px;
}

.content__left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}

.about__description {
  padding-top: 50px;
}

.content__left-subtext {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}

.description__image img {
  width: 100%;
  object-fit: cover;
}

.description__image {
  width: 100%;
}

.description__text {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

.description__text-bold {
  color: #FD8558;
}

.description__author-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.description__author-post {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #CACACA;
}

.description__author *:not(:last-child) {
  padding-bottom: 20px;
}

.description_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
}

.description__content>*:not(:last-child) {
  padding-bottom: 90px;
}

.creativity {
  padding: 60px 0;
}

.creativity__block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333333;
}

.creativity__block-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #999999;
}

.creativity__blocks {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 58px;
  row-gap: 30px;
}

.creativity__block {
  display: grid;
  justify-items: center;
  text-align: center;
}

.creativity__block>*:not(:last-child) {
  padding-bottom: 20px;
}

.creativity__footer {
  padding-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.creativity__circle {
  width: 180px;
  height: 80px;
  border-radius: 50%;
  background: rgba(253, 133, 88, 0.2);
}

.creativity__strip {
  height: 2px;
  background: #F5F5F5;
  width: 100%;
}

.wrapper__works {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 20px;
}

.works__button {
  padding: 13px 37px;
  background: #FD8558;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.works__content {
  max-width: 312px;
}

.works__text {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #FD8558;
}

.works__subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #333333;
}

.gallery__text {
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 180px;
  text-align: right;
  color: #F7F7F7;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.gallery__images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__block {
  position: relative;
}

.gallery__block-info {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 37px;
  padding: 47px 40px;
  column-gap: 70%;
  background: rgba(255, 255, 255, 0.85);
}

.info-big {
  column-gap: 80%;
}

#checkbox__block {
  transform: scale(2.3);
  opacity: 0.9;
  cursor: pointer;
}

.skills {
  padding: 70px 0;
}

.skills__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FD8558;
}

.skills__content-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #222222;
}

.skills__content-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
  padding-top: 15px;
}

.skills__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.skills__content {
  max-width: 500px;
}

.progressbar__block-input {
  width: 100%;
  -webkit-appearance: none;
  background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%, #EEEEEE 90%);
}

.input90 {
  background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%, #EEEEEE 90%);
}

.input80 {
  background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%, #EEEEEE 80%);
}

.input95 {
  background: linear-gradient(90deg, #FF4D06 0%, #FFAC34 54.23%, #EEEEEE 95%);
}

.progressbar__block-input::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  -webkit-appearance: none;
  border-radius: 50%;
}

.skills__progressbar {
  flex: 1 1 auto;
}

.progressbar__block-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}

.progressbar__block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}

.progressbar__block-done {
  font-weight: 400;
  font-size: 15px;
  color: #999999;
}

.skills__progressbar>*:not(:last-child) {
  padding-bottom: 45px;
}

.team__content {
  text-align: center;
}

.team__content-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FD8558;
}

.team__content-subheading {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  color: #222222;
}

.team__item {
  position: relative;
  cursor: pointer;
}

.team__item-block {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.team__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 40px;
}

.team__block-name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.team__block-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FCFCFC;
}

.team__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__item img {
  transition: all 0.3s ease 0s;
}

.team__item:hover img {
  transform: scale(1.1);
}

.team {
  padding-bottom: 100px;
}

.team___button-wrapper {
  text-align: center;
  margin-top: 80px;
}

.team___button {
  padding: 13px 37px;
  background: #FD8558;
  color: #F5F5F5;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  border: none;
}

.testimonials {
  background: #3A0F73;
  padding: 70px;
}

.testimonials__content {
  text-align: center;
}

.testimonials__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  text-align: center;
  color: rgba(170, 170, 170, 0.1);
}

.testimonials__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  max-width: 824px;
  margin: 0 auto;
}

.testimonials__person {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__block-name,
.testimonials__block-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-align: left;
}

.testimonials__content>*:not(:last-child) {
  padding-bottom: 20px;
}

.news__header-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FD8558;
}

.news__header-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #222222;
}

.news__header {
  text-align: center;
}

.news {
  padding: 60px 0;
}

.news__header>*:not(:last-child) {
  padding-bottom: 45px;
}

.news__board {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 26px 0 50px;
}

.board__content {
  display: flex;
  column-gap: 15px;
  margin-top: 28px;
}

.board__content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FD8558;
}

.board__content-date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.board__content-date::before {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #DFDEDE;
  margin-bottom: 1px;
  margin-right: 10px;
}

.board__block-desc {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
  margin-top: 20px;
  max-width: 326px;
}

.board__block-link {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FD8558;
  display: block;
  margin-top: 38px;
}

.board__block img {
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.feedback__address-text,
.feedback__information-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.4);
}

.feedback__address-subtext,
.feedback__information-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}

.feedback-information-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #222222;
}

.feedback__content {
  max-width: 293px;
}

.feedback__content>*:not(:last-child) {
  padding-bottom: 45px;
}

.form__inputs,
.form__textarea {
  width: 100%;
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
}

.form__inputs input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding: 18px 40px;
}

.form__inputs input::placeholder,
.form__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.feedback__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.form__textarea {
  min-height: 128px;
  box-sizing: border-box;
  padding: 18px 40px;
  resize: none;
  border: 1px solid #EEEEEE;
}

.form__button {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 17px 38px;
  border: none;
  background: #FD8558;
}

.footer {
  background: #111111;
  margin-top: 60px;
  padding: 90px;
}

.footer__anow-text {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;
}

.anow__info-tel,
.anow__info-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__anow>*:not(:last-child) {
  padding-bottom: 27px;
}

.footer__anow-info {
  display: flex;
  flex-wrap: wrap;
}

.anow__info-tel {
  display: block;
  padding-right: 10px;
}

.anow__info-mail {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  padding-left: 10px;
}

.footer__block-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer__block-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #BABABA;
}

.footer__block-list:not(:last-child) {
  padding-bottom: 9px;
}

.footer__anow-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #BABABA;
  margin-top: 70px;
}

.footer__copyright-span {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}